<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="~/Content/img/favicon/Letter-E-favicon.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/favicon/Letter-E-favicon.png" type="image/x-icon">

    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/angular/Module/expenseModule.js"></script>

</head>
<body ng-app="expenseModule">
    @Html.Partial("_Header")


    @Html.Partial("_SideBar")

    <div class="container body-content">
        @RenderBody()
        <hr />
        @Html.Partial("_PageFooter")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    
</body>
</html>
